@{
  Layout = "_Layout";
}

@model CandyShop.Models.Treat

<h2>Add Treat to Flavor Profile</h2>

<h4>Selected Flavor: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    @Html.Label("Select Flavor")
    @Html.DropDownList("FlavorId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>