@{
  Layout = "_Layout";
}

@using CandyShop.Models;
@model CandyShop.Models.Treat;

<h2>Treat Details</h2>
<h4>Treat Name: @Html.DisplayFor(model => model.Name)</h4>
<h5>Description:</h5> @if(Model.Description == null)
  {
    <span><em>No description available</em></span>
  }
  @Html.DisplayFor(model => model.Description)
<hr />

<div>
  <h5>Flavors assigned for the Treat:</h5>
  @if(Model.JoinEntities.Count == 0)
  {
    <span><em>No Flavor profile for this treat.</em></span>
  }
  else
  {
    <ul>
      @foreach (var join in Model.JoinEntities)
      {
        <li>
          @Html.DisplayFor(modelItem => join.Flavor.Name)
          @Html.ActionLink("Delete", "DeleteJoin", new { joinId = join.FlavorTreatId })
        </li>
      }
    </ul>
  }
</div>
<hr />
@if(User.Identity.IsAuthenticated)
{
  <p>@Html.ActionLink("Assign Flavors to this Treat", "AssignFlavor", new { id = Model.TreatId })</p>
  <p>@Html.ActionLink("Edit Treat Details", "Edit", new { id = Model.TreatId })</p>
  <p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>
}
else 
{
  <p>Login to manage Flavor Profiles</p>
}
