@{
  Layout = "_Layout";
}

@model CandyShop.Models.Flavor

<h4> Add a New Flavor</h4>
<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
@using (Html.BeginForm()) 
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)
    <input type="submit" value="Add" />
}


<p>@Html.ActionLink("Show all Flavors", "Index")</p>